@media screen and (max-width: 760px) {
    .nav {
        display: none;
    }
    .apresentacao h2 {
        font-size: 20px;
    }
    .apresentacao h1 {
        font-size: 23px;
    }
    .apresentacao p {
        max-width: 450px;
    }
    .sobre p, h1{
        margin-top: 0;

    }
    .img-sobre img {
        width: 200px;
        height: auto;
        margin-bottom: 0;
    }
    
}