body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #2f343a;
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(223, 223, 223, 0.962);
    border-radius: 10px;
    border: 2px solid #2f343a;
}
